# reference: https://github.com/bitprophet/dotfiles/blob/main/.gitignore

# ignore everything
* 
# this file
!.gitignore
# user scripts
!bin
!bin/*.sh
!bin/.gitkeep
# configuration files 
!.config
!.config/sway
!.config/sway/*
!.config/fish
!.config/fish/*
!.config/fish/functions
!.config/fish/functions/*
# don't sync wsl git -> git.exe
.config/fish/functions/git.fish

!.config/.gitkeep
!.config/alacritty
!.config/alacritty/*

# Vim settings
!.vimrc
# tip: use vim-packs to reinstall each instance of packadd!


