# reference: https://github.com/bitprophet/dotfiles/blob/main/.gitignore

# ignore everything
* 
# this file
!.gitignore
# user scripts
!bin
!bin/.gitignore
!etc
!etc/.gitignore
# configuration files 
!.config
!.config/sway
!.config/sway/config
!.config/fish
!.config/fish/*
!.config/i3blocks
!.config/i3blocks/*
!.logseq/
!.logseq/config
!.logseq/config/*
!.logseq/settings
# fonts
!.config/fontconfig
!.config/fontconfig/*
# ignore local configuration
.config/fish/local.fish
.config/fish/fish_variables

!.config/.gitkeep
!.config/alacritty
!.config/alacritty/*

# Vim settings
!.vimrc
# tip: use vim-packs to reinstall each instance of packadd!
